<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3 id='mobileSubNavMenu'>View APIs <span id='mobileSubNavArrow' class=""></span></h3>
      <% include ../../snippets/mobilesubnav %>
      <p><span id='quotaResults' class='<%= session.tier.apis !== 0 && session.user.apis > session.tier.apis ? "red" : "green" %>'><%= session.user.apis %></span> of <span id='tierResults' class="green"><%= session.tier.apis === 0 ? 'unlimited' : session.tier.apis %></span> APIs used.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Ref ID</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <%
        if (apis !== null) {
          apis.forEach(function(api, index) {
        %>
          <tr>
            <td><%=index+1%></td>
            <td><%=api.name%></td>
            <td><%=api.ref%></td>
            <td><span class="date" data-date="<%=api.created%>"></span></td>
            <td><span class="date" data-date="<%=api.modified%>"></span></td>
            <td><a title="Delete" href="" onClick="apiDeletePrompt('<%=api.ref%>');return false;"><img width='15px' src='img/delete.svg'></a> <a title="Code" href="code/api/<%=api.ref%>"><img width='18px' src='img/code.svg'></a> <a title="Edit" href="edit/api/<%=api.ref%>"><img style="top: 2px; position: relative;" width='20px' src='img/edit.svg'></a> <a title="View Stats" href="statistics/api/<%=api.ref%>"><img width='20px' src='img/stats.svg'></a> <a title="Run" href="api/<%=api.ref%>?key=<%=session.user.apikey%>" target="_blank"><img width='15px' src='img/run.svg'></a> <a title="Run (Public URL)" href="api/<%=api.hash%>" target="_blank"><img style="top: 2px; position: relative;" width='20px' src='img/link.svg'></a></td>
          </tr>
        <%  });
        }
        %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
</body>
</html>
