<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3 id='mobileSubNavMenu'>View APIs <span id='mobileSubNavArrow' class=""></span></h3>
      <% include ../../snippets/mobilesubnav %>
      <p><span id='quotaResults' class='<%= session.tier.apis !== 0 && session.user.apis > session.tier.apis ? "red" : "green" %>'><%= session.user.apis %></span> of <span id='tierResults' class="green"><%= session.tier.apis === 0 ? 'unlimited' : session.tier.apis %></span> APIs used.</p>
      <table class="table table-striped" style="width: 90%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Ref ID</th>
            <th>Created</th>
            <th>Modified</th>
            <!-- <th>Generator Version</th> -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <%
        if (apis !== null) {
          apis.forEach(function(api, index) {
        %>
          <tr>
            <td><%=index+1%></td>
            <td><%=api.name%></td>
            <td><%=api.ref%></td>
            <td><span class="date" data-date="<%=api.created%>"></span></td>
            <td><span class="date" data-date="<%=api.modified%>"></span></td>
            <!-- <td><%=api.generator%></td> -->
            <td><a href="" onClick="apiDeletePrompt('<%=api.ref%>');return false;">Delete</a> | <a href="code/api/<%=api.ref%>">Code API</a> | <a href="edit/api/<%=api.ref%>">Edit</a> | <a href="statistics/api/<%=api.ref%>">Stats</a> | <a href="api/<%=api.ref%>?key=<%=session.user.apikey%>" target="_blank">Run API</a> | <a href="api/<%=api.hash%>" target="_blank">Run API (public URL)</a></td>
          </tr>
        <%  });
        }
        %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
</body>
</html>
