<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: View API</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>View APIs</h1>
        <hr width="50%">
        <% include ../../snippets/nav %>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Ref ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <%
            if (apis !== null) {
                apis.forEach(function(api, index) {
            %>
                    <tr>
                        <td><%=index+1%></td>
                        <td><%=api.name%></td>
                        <td><%=api.ref%></td>
                        <td><a href="/delete/api/<%=api.id%>">Delete</a> <a href="/edit/api/<%=api.ref%>">Edit</a> <a href="/api/<%=api.ref%>" target="_blank">Run API</a></td>
                    </tr>
            <%  });
            }
            %>

            </tbody>
        </table>

    </div>
</body>

</html>