<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3>View Lists</h3>
      <p><span class='<%= session.user.memory > session.tier.memory ? "red" : "green" %>'><%= filesize(session.user.memory) %></span> of <span class="green"><%= session.tier.memory === 0 ? 'unlimited' : filesize(session.tier.memory) %></span> used.</p>
      <table class="table table-striped" style="width: 90%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Ref ID</th>
            <th>Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <%
        if (lists !== null) {
          lists.forEach(function(list, index) {
        %>
          <tr>
            <td><%=index+1%></td>
            <td><%=list.name%></td>
            <td><span class="date" data-date="<%=list.created%>"></span></td>
            <td><span class="date" data-date="<%=list.modified%>"></span></td>
            <td><%=list.ref%></td>
            <td><%=filesize(list.memory)%></td>
            <td><a href="" onClick="listDeletePrompt('<%=list.ref%>');return false;">Delete</a> | <a href="edit/list/<%=list.ref%>">Edit</a></td>
          </tr>
        <%  });
        }
        %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
</body>
</html>
