<!DOCTYPE html>
<html lang="en">

<head>
    <title>RandomAPI :: View API</title>
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    <div align="center">
        <div id="note">
            <%=messages%>
        </div>
        <h1>View Lists</h1>
        <hr width="50%">
        <% include ../../snippets/nav %>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Ref ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <%
            if (lists !== null) {
                lists.forEach(function(list, index) {
            %>
                    <tr>
                        <td><%=index+1%></td>
                        <td><%=list.name%></td>
                        <td><%=list.ref%></td>
                        <td><a href="/delete/list/<%=list.id%>">Delete</a> <a href="/edit/list/<%=list.id%>">Edit</a></td>
                    </tr>
            <%  });
            }
            %>
            </tbody>
        </table>
    </div>
</body>

</html>