<% include ../../snippets/header %>
<body>
  <% include ../../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/subnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%=messages%>
        </div>
        <h3>View Lists</h3>
        <table class="table table-striped" style="width: 75%">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Ref ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          <%
          if (lists !== null) {
            lists.forEach(function(list, index) {
          %>
            <tr>
              <td><%=index+1%></td>
              <td><%=list.name%></td>
              <td><%=list.ref%></td>
              <td><a href="delete/list/<%=list.id%>">Delete</a> <a href="edit/list/<%=list.ref%>">Edit</a></td>
            </tr>
          <%  });
          }
          %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
