<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3 id='mobileSubNavMenu'>View Lists <span id='mobileSubNavArrow' class=""></span></h3>
      <% include ../../snippets/mobilesubnav %>
      <p><span class='<%= session.user.memory > session.tier.memory ? "red" : "green" %>'><%= filesize(session.user.memory) %></span> of <span class="green"><%= session.tier.memory === 0 ? 'unlimited' : filesize(session.tier.memory) %></span> used. - <a href="new/list"><span class='green'>Create new List</span></a></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Ref ID</th>
            <th>Size</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <%
        if (lists !== null) {
          lists.forEach(function(list, index) {
        %>
          <tr>
            <td><%=index+1%></td>
            <td><%=list.name%></td>
            <td><span class="date" data-date="<%=list.created%>"></span></td>
            <td><span class="date" data-date="<%=list.modified%>"></span></td>
            <td><%=list.ref%></td>
            <td><%=filesize(list.memory)%></td>
            <td><a title="Delete" href="" onClick="listDeletePrompt('<%=list.ref%>');return false;"><img width='15px' src='img/delete.svg'></a> <a title="Edit" href="edit/list/<%=list.ref%>"><img style="top: 2px; position: relative;" width='20px' src='img/edit.svg'></a></td>
          </tr>
        <%  });
        }
        %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
</body>
</html>
