<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
  <link rel="stylesheet" href="css/skeleton-tabs.css">
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/subnav %>
    </div>
    <div class="ten columns">
      <h3 id='mobileSubNavMenu'>View Snippets <span id='mobileSubNavArrow' class=""></span></h3>
      <% include ../../snippets/mobilesubnav %>
      <p><span id='quotaResults' class='<%= session.tier.snippets !== 0 && session.user.snippets > session.tier.snippets ? "red" : "green" %>'><%= session.user.snippets %></span> of <span id='tierResults' class="green"><%= session.tier.snippets === 0 ? 'unlimited' : session.tier.snippets %></span> snippets used. - <a href="new/snippet"><span class='green'>Create new Snippet</span></a></p>
      <ul class="tab-nav">
        <li>
          <a class="button active" href="#private">Private Snippets</a>
        </li>
        <li>
          <a class="button" href="#publish">Published Snippets</a>
        </li>
        <li>
          <a class="button" href="#global">Global Snippets</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="private">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <%
            if (privateSnippets !== null) {
              privateSnippets.forEach(function(snippet, index) {
            %>
              <tr>
                <td><%=index+1%></td>
                <td><%=snippet.name%></td>
                <td><span class="date" data-date="<%=snippet.created%>"></span></td>
                <td><span class="date" data-date="<%=snippet.modified%>"></span></td>
                <td><a title="Delete" href="" onClick="snippetDeletePrompt('<%=snippet.ref%>', '<%=snippet.name%>', '<%=snippet.version%>');return false;"><img width='15px' src='img/delete.svg'></a> <a title="Code" href="code/snippet/<%=snippet.ref%>/<%=snippet.version%>"><img width='18px' src='img/code.svg'></a> <a title="Edit" href="edit/snippet/<%=snippet.ref%>"><img style="top: 2px; position: relative;" width='20px' src='img/edit.svg'></a> <a title="Publish" href="publish/snippet/<%=snippet.ref%>"><img style="top: 2px; position: relative;" width='15px' src='img/publish.svg'></a></td>
              </tr>
            <%  });
            }
            %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="publish">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Selected revision</th>
                <th>Revision Actions</th>
                <th>Snippet Actions</th>
              </tr>
            </thead>
            <tbody>
            <%
            if (publicSnippets !== null) {
              publicSnippets.forEach(function(snippet, index) {
            %>
              <tr data-ref="<%=snippet.ref%>">
                <td><%=index+1%></td>
                <td><%=snippet.name%></td>
                <td><span class="date" name="created" data-date="<%=snippet.created%>"></span></td>
                <td><span class="date" name="modified" data-date="<%=snippet.modified%>"></span></td>
                <td>
                  <select name='revision'>
                  <% for (let i = snippet.version; i > 0 ; i--) { %>
                    <option value='<%=i%>' <%= i === snippet.version ? "selected" : ""%>><%=i%>%></option>
                  <% } %>
                </td>
                <td><a title="<%=snippet.latestPublished ? "View" : "Code" %>" href="code/snippet/<%=snippet.ref%>/<%=snippet.version%>" name='codeSnippet'><%-snippet.latestPublished ? "<img width='18px' src='img/view.svg'>" : "<img width='18px' src='img/code.svg'>" %></a> <a title="Edit" href="edit/snippet/<%=snippet.ref%>/<%=snippet.version%>" name='editSnippet'><img style="top: 2px; position: relative;" width='20px' src='img/edit.svg'></a></td>
                <td><%- !snippet.latestPublished ? `<a title="Publish Revision" href='' onClick='revisionPublishPrompt("${snippet.ref}", "${snippet.name}", "${snippet.version}"); return false;'><img style="top: 2px; position: relative;" width='15px' src='img/publish.svg'></a>` : `<a title="New Revision" href='code/snippet/${snippet.ref}/newRevision'><img style="top: 4px; position: relative;" width='20px' src='img/revision.svg'></a>` %> <a title="Edit" href="edit/snippet/<%=snippet.ref%>" name='editSnippet'><img style="top: 2px; position: relative;" width='20px' src='img/edit.svg'></a></td>
              </tr>
            <%  });
            }
            %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="global">
          <ul>
            <li><a href="https://www.npmjs.com/package/faker" class='green' target="_blank">Faker</a></li>
            <li><a href="https://www.npmjs.com/package/deity" class='green' target="_blank">Deity</a></li>
            <li><a href="http://momentjs.com/" class='green' target="_blank">Moment</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
  <script src="js/skeleton-tabs.js"></script>
</body>
</html>
