<%
var selected = {};
var style = "class='selected'";
var path;
try {
  path = originalUrl.match(/(?:^(\/\w+\/\w+)(?:$|.*)|(\/))/)[1];
} catch(e) {
  path = "/";
}

switch(path) {
  case '/new/api':
    selected['newapi'] = style;
    break;
  case '/view/api':
  case '/edit/api':
  case '/code/api':
    selected['viewapi'] = style;
    break;
  case '/new/list':
    selected['newlist'] = style;
    break;
  case '/view/list':
  case '/edit/list':
    selected['viewlist'] = style;
    break;
  case '/new/snippet':
    selected['newsnippet'] = style;
    break;
  case '/view/snippet':
  case '/edit/snippet':
  case '/code/snippet':
    selected['viewsnippet'] = style;
    break;
  case '/':
  default:
    selected['dashboard'] = style;
}
%>
<div id="subnav">
  <ul>
    <li <%- selected['dashboard'] %>><a href="">Dashboard</a></li>
    <li class='seperator'></li>
    <li <%- selected['newapi'] %>><a href="new/api">New API</a></li>
    <li <%- selected['newlist'] %>><a href="new/list">New List</a></li>
    <li <%- selected['newsnippet'] %>><a href="new/snippet">New Snippet</a></li>
    <li class='seperator'></li>
    <li <%- selected['viewapi'] %>><a href="view/api">View APIs</a></li>
    <li <%- selected['viewlist'] %>><a href="view/list">View Lists</a></li>
    <li <%- selected['viewsnippet'] %>><a href="view/snippet">View Snippets</a></li>
  </ul>
</div>
