<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
  <link rel="stylesheet" href="css/editor.css">
</head>
<body>
  <server hidden><%=socket%></server>
  <ref hidden><%=api.ref%></ref>
  <% include ../../snippets/navbar %>
  <div class="container main editor">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/subnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%=messages%>
        </div>
        <h3>Editing API <%=api.ref%></h3>
        <span id='charCount'><span id='currentCharCount'>0</span> / 8,192 chars</span>
        <pre id="aceEditor" name="code"><%=api.code%></pre>
        <div id="preview">
          <input type="submit" id="submit" value="Save"> <button id="lintButton" onClick="lintCode()">Test API</button>
          <pre id="results">
  Loading...
          </pre>
        </div>
      </div>
    </div>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/socket.io.min.js"></script>
  <script src="js/ace/ace.js"></script>
  <script src="js/realtimeEditor.js"></script>
</body>
</html>
