<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="two columns">
        <% include ../snippets/subnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%- messages %>
        </div>
        <h3>Dashboard</h3>
        Your api key is <input class="green" onClick="this.select();" value="<%= session.user.apikey %>" readonly size="23"><br>
        Your tier is <span class="green"><%= session.user.tierName %></span>.<br>
        Your have used <span id='results' class='green'><%= session.user.results %></span> of your daily <span id='tierResults' class="green"><%= session.tier.results === 0 ? 'unlimited' : session.tier.results %></span> results.<br>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
