<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../snippets/subnav %>
    </div>
    <div class="ten columns">
      <div class="dashboard">
        <div class="info">
          <h3 id='mobileSubNavMenu'>Dashboard <span id='mobileSubNavArrow' class=""></span></h3>
          <% include ../snippets/mobilesubnav %>
          <h5>Welcome <span class="green"><%= session.user.username %></span>!</h5>
          Your api key is <input class="apikey" onClick="this.select();" value="<%= session.user.apikey %>" readonly size="23"><br>
          Your tier is <span class="green"><%= session.user.tierName %></span>.<br>

          You have used <span id='quotaResults' class='green'><%= session.user.results %></span> of your daily <span id='tierResults' class="green"><%= session.tier.results === 0 ? 'unlimited' : session.tier.results %></span> results.<br>

          You have used <span id='quotaResults' class='<%= session.tier.apis !== 0 && session.user.apis > session.tier.apis ? "red" : "green" %>'><%= session.user.apis %></span> of your <span id='tierResults' class="green"><%= session.tier.apis === 0 ? 'unlimited' : session.tier.apis %></span> APIs.<br>

          You have used <span class='<%= session.user.memory > session.tier.memory ? "red" : "green" %>'><%= filesize(session.user.memory) %></span> of your <span class="green"><%= session.tier.memory === 0 ? 'unlimited' : filesize(session.tier.memory) %></span> List memory.<br>

          You have used <span id='quotaResults' class='<%= session.tier.snippets !== 0 && session.user.snippets > session.tier.snippets ? "red" : "green" %>'><%= session.user.snippets %></span> of your <span id='tierResults' class="green"><%= session.tier.snippets === 0 ? 'unlimited' : session.tier.snippets %></span> Snippets.<br>

          <% if (session.user.tierID === 1) { %>
            <h5 id='promote'>Want to upgrade to the Standard tier for <span class='green'>free</span>?<br>Please help spread the word about RandomAPI!<br><iframe scrolling="no" 
    id='twitteriframe'
    src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=http%3A%2F%2Fbeta.randomapi.com&related=twitterapi%2Ctwitter&text=Been using %23randomapi to generate random data for testing. It%27s like Lorem Ipsum%2C but with actual data."


    width="140"
    height="28"
    title="Twitter Tweet Button"
    style="border: 0; overflow: hidden;">
  </iframe></h5>
          <% } %>
        </div>
        <div class="stats">
          <!-- <h3>Usage in last 24 hours</h3> -->
          <div id="container" style="height: 300px"></div>
        </div>
      </div>
      <div class="announcements">
        <h3>Announcements</h3>
        <p><span style="color: orange">Beta users:</span> Have any questions or feedback? Send an email to <a href="mailto:hello@randomapi.com" class="green">hello@randomapi.com</a>.</p>
        <div class="entry">
          <span class="title">Improved API cache and code editor - <span class="date" data-date="2016-10-04T18:21:40"></span></span>
          <p>Added API caching for improved perfomance and also separated the console logs from api results in the API and Snippet editors. <br><br>- Keith</p>
        </div>
        <hr>
        <div class="entry">
          <span class="title">Offline RandomAPI now available! - <span class="date" data-date="2016-09-21T15:09:31"></span></span>
          <p>The feature to generate your APIs offline is now available for Premium users!<br>Please read more about it <a class='green' href="http://blog.randomapi.com/offline-randomapi/">here</a>. <br><br>- Keith</p>
        </div>
        <br>
        <div class="entry">
          <span class="title" >Welcome to the Beta! - <span class="date" data-date="2016-08-04T12:28:03"></span></span>
          <p>Thanks for trying out the beta!<br><br>Just a few things to note:<br>Former RandomAPI users: If you upgraded your account during the old beta, you'll be receiving an email<br>next week with information on how your old subscription will be transferred over to your new account.<br><br>As for everyone else, if you have any questions, feedback, etc. send an email to <a href="mailto:hello@randomapi.com" class="green">hello@randomapi.com</a>.<br><br>Thanks!<br>- Keith</p>
        </div>
      </div>
      <div class="ads">
        <% include ../snippets/ads %>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
  <script src="js/dashboardStats.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/highcharts.js"></script>
</body>
</html>
