<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="container main">
    <div class="row">
      <div class="two columns">
        <% include ../../snippets/settingsSubnav %>
      </div>
      <div class="ten columns">
        <div id="note">
          <%=messages%>
        </div>
        <h3>Subscription</h3>
        <% if (session.user.tierID === 1) { %>
          <p>You don't currently have an active subscription.</p>
          <% } else {
            if (tier.results === 0) tier.results = "unlimited";
            if (tier.apis === 0) tier.apis = "unlimited";
          %>
          <p>Your are currently in the <span class='green'><%= tier.name %></span> tier.<br>
          This plan gives you<br>
          -<span class='green'><%= tier.memory/1024/1024 %></span> MB of list memory<br>
          -<span class='green' id="dailyResults"><%= tier.results %></span> daily results<br>
          -<span class='green' id="resultsPerRequest"><%= tier.per %></span> results per request<br>
          -<span class='green'><%= tier.apis %></span> APIs at a rate of <span class='green' id="price">$<%= tier.price %></span> per month.<br><br>
          Your current subscription will <%= subscription.status === 2 ? " end " : " be renewed on " %> <span class='green' id="renewalDate"><%= subscription.current_period_end %></span>.<br><br>
          <%- subscription.status !== 2 ? "<input type='button' id='cancelSubscription' value='Cancel Subscription'>" : "" %>
          </p>
          <% if (tier.name !== "Premium") { %>
            <h4>Available upgrades</h4>
            <div class="card">
              <div class="title" style="color: #0CB863">Premium</div>
              <div class="pricing">$5.00<span class='subpricing'> / month</span></div>
              <div class="info">
                <ul>
                  <li><span id="main">unlimited</span> daily results</li>
                  <li><span id="main">2,500</span> results / request</li>
                  <li><span id="main">25 MB</span> list data</li>
                  <li><span id="main">unlimited</span> APIs</li>
                  <li id='upgradeButton'>
                    <input type="button" onClick="premiumUpgrade()" id="upgrade" value="Upgrade">
                  </li>
                </ul>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
  <script src="js/subscription.js"></script>
</body>
</html>
