<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../snippets/header %>
</head>
<body>
  <% include ../../snippets/navbar %>
  <div class="main">
    <div class="two columns">
      <% include ../../snippets/settingsSubnav %>
    </div>
    <div class="ten columns">
      <h3>Subscription</h3>
      <% if (session.user.tierID === 1) { %>
        <p>You don't currently have an active subscription.<br>Check out the available upgrade options <a href="upgrade" class='green'>here</a>.</p>
        <% } else {
          if (tier.results === 0) tier.results = "unlimited";
          if (tier.apis === 0) tier.apis = "unlimited";
          if (tier.snippets === 0) tier.snippets = "unlimited";
        %>


        <% if (session.subscription.status !== 3) { %>
          <p>You are currently on the <span class='green'><%= tier.name %></span> tier.<br>
          This plan gives you<br>
          -<span class='green' id="dailyResults"><%= tier.results %></span> daily results<br>
          -<span class='green' id="resultsPerRequest"><%= tier.per %></span> results per request<br>
          -<span class='green'><%= tier.memory/1024/1024 %></span> MB of list memory<br>
          -<span class='green'><%= tier.apis %></span> APIs<br>
          -<span class='green'><%= tier.snippets %></span> Snippets<br>
          </p>

        <% } %>
        <% if (tier.name !== "Premium" && subscription.status !== 3) { %>
          <h4>Available upgrades</h4>
          <h6><span style="color: orange">Discount applied for previous upgrade</span></h6>
          <div class="card">
            <div class="title" style="color: #0CB863">Premium</div>
            <div class="pricing">$2.50</div>
            <div class="info">
              <ul>
                <li><span id="main">unlimited</span> daily results</li>
                <li><span id="main">2,500</span> results / request</li>
                <li><span id="main">25 MB</span> list data</li>
                <li><span id="main">unlimited</span> APIs</li>
                <li><span id="main">unlimited</span> snippets</li>
                <li><span id="main" class="check">✓</span> ads disabled</li>
                <li><span id="main" class="check">✓</span> Offline APIs <sup>Coming soon</sup></li>
                <li><span id="main">5</span> Generators <sup>1</sup></li>
                <li><span id="main">240/480/20</span> Cache settings <sup>2</sup></li>
                <li id='upgradeButton'>
                  <form action="/charge<% subscription.cid === null ? "" : "/upgrade" %>" method="POST">
                    <input type="hidden" name="price" value="250">
                    <script 
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%=publishableKey%>"
                      data-amount="250"
                      data-name="RandomAPI"
                      data-description="RandomAPI Premium Tier (Beta)"
                      data-image="https://s3.amazonaws.com/stripe-uploads/acct_102bx12y2KIUsl34merchant-icon-499777-logo.png"
                      data-locale="auto"
                      data-label="Upgrade"
                      data-email="<%= session.subscription.email %>"
                      data-zip-code="true">
                    </script>
                    <input type="hidden" name="plan" value="premium_beta_upgrade">
                  </form>
                </li>
              </ul>
            </div>
          </div>
        <% } else { %>
          <h4>Available upgrades</h4>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="ads">
    <% include ../../snippets/ads %>
  </div>
  <% include ../../snippets/footer %>
  <script src="js/moment.min.js"></script>
  <script src="js/subscription.js"></script>
</body>
</html>
